<section>
  <div class="page-header">

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
    <h4>Selected package</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="allpackage in vm.allpackages"
       ui-sref="allpackages.view({ allpackageId: allpackage._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Created on
        <span ng-bind="allpackage.created | date:'mediumDate'"></span>, click for more details
       <!-- by
        <span ng-if="allpackage.user" ng-bind="allpackage.user.displayName"></span>
        <span ng-if="!allpackage.user">Deleted User</span>-->
      </small>

      <h4 class="list-group-item-heading" ng-bind="allpackage.packageName"></h4>
    </a>
    <div class="alert alert-warning text-center" ng-if="vm.allpackages.$resolved && !vm.allpackages.length">
      No packages selected yet,<a ui-sref="allpackages.create">create one</a>?
    </div>
  </div>
        </div>
      </div></div>
  </div>

</section>
