<section>
  <div class="page-header">
    <h1>Propertylistmaps</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="propertylistmap in vm.propertylistmaps"
       ui-sref="propertylistmaps.view({ propertylistmapId: propertylistmap._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="propertylistmap.created | date:'mediumDate'"></span>
        by
        <span ng-if="propertylistmap.user" ng-bind="propertylistmap.user.displayName"></span>
        <span ng-if="!propertylistmap.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="propertylistmap.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.propertylistmaps.$resolved && !vm.propertylistmaps.length">
    No Propertylistmaps yet, why don't you <a ui-sref="propertylistmaps.create">create one</a>?
  </div>
</section>
